.container-fluid {
    width: 100vw;
    height: 100vh;
}

.card {
    width: fit-content;
    min-width: 400px;
    border-radius: 10px;

    .text-danger {
        color: #FF101F !important;
    }

    .btn-danger {
        background-color: #FF101F !important;
    }

    .text-black {
        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .obbligo {
        margin: 0;
        font-size: 15px;
    }
}
