<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <div class="editAnnuncio" *ngIf="annuncioEdit">
            <p class="text-white text-center title">Modifica Annuncio</p>
            <hr>
            <div class="foto">
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                        <button *ngFor="let foto of annuncioEdit.foto; let i = index" type="button" data-bs-target="#carouselExampleIndicators" [attr.data-bs-slide-to]="i" [class.active]="i===0" aria-current="true" title="Slide {{i+1}}"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item" *ngFor="let foto of annuncioEdit.foto; let i = index"
                            [class.active]="i===0">
                            <img src="{{foto.url}}" class="d-block w-100 h-100" alt="Foto {{i + 1}}">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span aria-hidden="true"><i class="bi bi-caret-left"></i></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span aria-hidden="true"><i class="bi bi-caret-right"></i></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <!-- <ngx-dropzone (change)="onSelect($event)">
                    <ngx-dropzone-label>Trascina o clicca per caricare le foto del tuo annuncio!</ngx-dropzone-label>
                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
                        [removable]="true" (removed)="onRemove(f)">
                    </ngx-dropzone-image-preview>
                </ngx-dropzone> -->
            </div>
            <div class="container">
                <form #form="ngForm" (ngSubmit)="edit(form)">
                    <div class="row">
                        <div class="col form-floating form-group">
                            <input name="marca" type="text" class="form-control" id="marca" placeholder="marca"
                                [(ngModel)]="annuncioEdit.marca">
                            <label for="marca">Marca</label>
                        </div>
                        <div class="col form-floating form-group">
                            <input name="modello" type="text" class="form-control" id="modello" placeholder="modello"
                                [(ngModel)]="annuncioEdit.modello">
                            <label for="modello">Modello</label>
                        </div>
                        <div class="col form-floating form-group">
                            <select class="form-select" id="floatingSelect" aria-label="statoVeicolo"
                                name="statoVeicolo" [(ngModel)]="annuncioEdit.statoVeicolo">
                                <option *ngFor="let sV of listaStatoVeicolo">{{ sV.statoVeicolo
                                    }}</option>
                            </select>
                            <label for="floatingSelect">Seleziona le condizioni della moto</label>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col form-floating form-group">
                            <select class="form-select" id="floatingSelect" aria-label="tipoMoto" name="tipoMoto"
                                [(ngModel)]="annuncioEdit.tipoMoto">
                                <option *ngFor="let tM of listaTipoMoto">{{ tM.tipoMoto }}</option>
                            </select>
                            <label for="floatingSelect">Seleziona la tipologia di moto</label>
                        </div>
                        <div class="col form-floating form-group">
                            <input name="cilindrata" type="number" class="form-control" id="cilindrata"
                                placeholder="cilindrata" [(ngModel)]="annuncioEdit.cilindrata">
                            <label for="cilindrata">Cilindrata</label>
                        </div>
                        <div class="col form-floating form-group">
                            <input name="cavalli" type="number" class="form-control" id="cavalli" placeholder="cavalli"
                                [(ngModel)]="annuncioEdit.cavalli">
                            <label for="cavalli">Cavalli</label>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col form-floating form-group">
                            <input name="kilometri" type="number" class="form-control" id="kilometri"
                                placeholder="kilometri" [(ngModel)]="annuncioEdit.kilometri">
                            <label for="kilometri">Kilometri</label>
                        </div>
                        <div class="col form-floating form-group">
                            <input name="immatricolazione" type="text" class="form-control" id="immatricolazione"
                                placeholder="immatricolazione" [(ngModel)]="annuncioEdit.immatricolazione">
                            <label for="immatricolazione">Anno d'immatricolazione</label>
                        </div>
                        <div class="col form-floating form-group">
                            <input name="localita" type="text" class="form-control" id="localita" placeholder="localita"
                                [(ngModel)]="annuncioEdit.localita">
                            <label for="localita">Località</label>
                        </div>
                    </div>
                    <div class="row mt-4 justify-content-center">
                        <div class="col-4 form-floating form-group">
                            <input name="prezzo" type="number" class="form-control" id="prezzo" placeholder="prezzo"
                                [(ngModel)]="annuncioEdit.prezzo">
                            <label for="prezzo">Prezzo €</label>
                        </div>
                        <div class="col-4 form-floating form-group">
                            <textarea name="descrizione" type="text" class="form-control" id="descrizione"
                                placeholder="descrizione" [(ngModel)]="annuncioEdit.descrizione"></textarea>
                            <label for="descrizione">Descrizione</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-around">
                        <button type="button" [routerLink]="['/concessionarioDashboard']"><i
                                class="bi bi-arrow-left me-2"></i>Indietro</button>
                        <button type="submit" [disabled]="form.invalid">Modifica annuncio</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
