.utente {
    margin: 120px 0 0 0;
    padding: 0;
    background-color: #0267C1;
    height: 825px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px #363537;

    p {
        font-size: 25px;
        margin-top: 20px;
        color: white;
    }

    hr {
        margin: 0 20px;
        border-top: 5px solid white;
        opacity: 100;
    }

    i {
        font-size: 120px;
    }

}

.preferiti {
    margin: 120px 0 0 0;
    padding: 0;
    background-color: #0267C1;
    height: 825px;
    width: 1400px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px #363537;

    p {
        font-size: 25px;
        margin-top: 20px;
    }

    hr {
        margin: 0 20px;
        border-top: 5px solid white;
        opacity: 100;
    }
}
