<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="d-flex flex-row">
        <div class="utente">
            <p class="text-white text-center">Profilo utente</p>
            <hr>
            <div class="mt-5" *ngIf="utenteLoggato">
                <p class="text-center"><i class="bi bi-person-circle text-white"></i></p>
                <p class="text-center">Nome: {{ utenteLoggato.nome }}</p>
                <p class="text-center">Cognome: {{ utenteLoggato.cognome }}</p>
                <p class="text-center">Username: {{ utenteLoggato.username }}</p>
                <p class="text-center">Email: {{ utenteLoggato.email }}</p>
                <p class="text-center mt-5"><a>Impostazioni <i class="bi bi-gear ms-3"></i></a></p>
            </div>
        </div>
        <div class="preferiti ms-4">
            <p class="text-white text-center">Preferiti</p>
            <hr>
        </div>
    </div>
</div>
