.utente {
    margin: 120px 0 0 0;
    padding: 0;
    background-color: #0267C1;
    height: 825px;
    width: 700px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px #363537;

    p {
        font-size: 25px;
        margin-top: 20px;
        color: white;
    }

    hr {
        margin: 0 20px;
        border-top: 5px solid white;
        opacity: 100;
    }

    .imgProfile {
        font-size: 120px;
    }

    .infoUtente {
        margin-bottom: 50px;
    }

    button {
        border: 3px solid white;
        background-color: #0267C1;
        color: white;
        padding: 8px 15px;
        font-size: 20px;
        border-radius: 10px;
        margin-top: 20px;

        &:hover {
            background-color: white;
            color: #0267C1;
        }
    }

}
