<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <div class="utente">
            <p class="text-white text-center">Profilo utente</p>
            <hr>
            <div class="infoUtente" *ngIf="utenteLoggato">
                <p class="text-center imgProfile"><i class="bi bi-person-circle text-white"></i></p>
                <p class="text-center">Nome: {{ utenteLoggato.nome }}</p>
                <p class="text-center">Cognome: {{ utenteLoggato.cognome }}</p>
                <p class="text-center">Username: {{ utenteLoggato.username }}</p>
                <p class="text-center">Email: {{ utenteLoggato.email }}</p>
            </div>
            <hr>
            <div class="d-flex justify-content-around mt-5">
                <button [routerLink]="['/']"><i class="bi bi-arrow-left me-3"></i>Indietro</button>
                <button [routerLink]="['/editProfile']">Impostazioni<i class="bi bi-gear ms-3"></i></button>
            </div>
        </div>
    </div>
</div>
