<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="d-flex flex-row">
        <div class="utente">
            <p class="text-white text-center">Profilo utente</p>
            <hr>
            <div class="mt-5">
                <p class="text-center"><i class="bi bi-person-circle text-white"></i></p>
                <p class="text-center">Nome: </p>
                <p class="text-center">Cognome: </p>
                <p class="text-center">Username: </p>
                <p class="text-center">Email: </p>
                <p class="text-center">Ruolo: </p>
            </div>
        </div>
        <div class="preferiti ms-4">
            <p class="text-white text-center">Preferiti</p>
            <hr>
        </div>
    </div>
</div>
