.container {
    overflow-y: hidden;
}

.card {

    width: fit-content;

    background-color: #0267C1;
    border: 3px solid white;
    color: white;
    border-radius: 10px;

    img {
        height: 100%;
    }

    .card-text {
        font-size: 20px;
    }

    .card-body-item {
        display: flex;
        flex-direction: row;
    }

}
