.container-fluid {
    width: 100vw;
    height: 100vh;
}

.card {
    width: fit-content;
    min-width: 250px;
    border-radius: 10px;

    .text-danger {
        color: #FF101F !important;
    }

    .btn-danger {
        background-color: #FF101F !important;
    }

    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
