<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <div class="dettagliAnnuncio">
            <p class="text-white text-center title">Dettagli annuncio</p>
            <hr>
            <h1 class="text-center mb-4 text-white">{{ annuncio!.marca }} - {{ annuncio!.modello }}</h1>
            <h3 class="text-center mb-4 text-white">{{ annuncio!.prezzo }} &euro;</h3>
            <div class="foto mb-4">
                <img src="../../../assets/pistaMugello.jpg" alt="">
            </div>
            <hr class="secondLine">
            <div class="container mb-4">
                <div class="infoDettaglio">
                    <p class="dati"><i class="fa-solid fa-motorcycle me-2"></i> Dati di base</p>
                    <p class="dettagli">Carrozzeria <span>{{ annuncio!.tipoMoto.tipoMoto }}</span></p>
                    <p class="dettagli">Stato del veicolo <span>{{ annuncio!.statoVeicolo.statoVeicolo
                            }}</span></p>
                </div>
            </div>
            <hr class="secondLine">
            <div class="container mb-4">
                <div class="infoDettaglio">
                    <p class="dati"><i class="fa-solid fa-file-pen me-2"></i> Cronologia del veicolo</p>
                    <p class="dettagli">Chilometraggio <span>{{ annuncio!.kilometri }} Km</span></p>
                    <p class="dettagli">Anno <span>{{ annuncio!.immatricolazione }}</span></p>
                </div>
            </div>
            <hr class="secondLine">
            <div class="container mb-4">
                <div class="infoDettaglio">
                    <p class="dati"><i class="fa-solid fa-wrench me-2"></i> Dati tecnici</p>
                    <p class="dettagli">Potenza <span>{{ annuncio!.cilindrata }} ({{ annuncio!.cavalli }}
                            CV)</span></p>
                </div>
            </div>
            <hr class="secondLine">
            <div class="container mb-4">
                <div class="infoDettaglio">
                    <p class="dati"><i class="fa-solid fa-book me-2"></i> Descrizione</p>
                    <p class="dettagli text-center">{{ annuncio!.descrizione }}</p>
                </div>
            </div>
            <hr class="secondLine">
            <div class="container mb-4">
                <div class="infoDettaglio">
                    <p class="dati"><i class="fa-solid fa-location-dot me-2"></i> Posizione annuncio</p>
                    <p class="dettagli">Località <span>{{ annuncio!.localita }}</span></p>
                </div>
            </div>
            <div *ngIf="!isAdmin()">
                <hr class="secondLine">
                <div class="container mb-4">
                    <div class="infoDettaglio">
                        <p class="dati"><i class="fa-solid fa-user me-2"></i> Venditore</p>
                        <p class="dettagli"><i class="fa-solid fa-user me-2"></i>Ragione Sociale <span>{{
                                annuncio!.utente.ragioneSociale }}</span></p>
                        <p class="dettagli"><i class="fa-solid fa-envelope me-2"></i>Email <span>{{ annuncio!.utente.email
                                }}</span></p>
                        <p class="dettagli"><i class="fa-solid fa-phone me-2"></i>Telefono <span>{{ annuncio!.utente.telefono
                                }}</span></p>
                        <p class="dettagli"><i class="fa-solid fa-map-pin me-2"></i>Indirizzo <span>{{ annuncio!.utente.indirizzo
                                }}</span></p>
                        <p class="dettagli"><i class="fa-solid fa-map me-2"></i>Località <span>{{ annuncio!.utente.localita
                                }}</span></p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container mb-4 d-flex justify-content-around">
                <button type="button" [routerLink]="['/']"><i class="bi bi-arrow-left"></i> Back</button>
                <div *ngIf="isAdmin()">
                    <button type="button">Modifica annuncio <i class="fa-regular fa-pen-to-square ms-2"></i></button>
                </div>
                <div *ngIf="!isAdmin()">
                    <button type="button">Aggiungi ai preferiti <i class="fa-solid fa-heart ms-2"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
