.dettagliAnnuncio {
    margin-bottom: 20px;
    padding: 0;
    background-color: #0267C1;
    height: fit-content;
    width: 1400px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px #363537;

    .title {
        font-size: 25px;
        margin-top: 20px;
    }

    hr {
        margin: 0 20px 20px 20px;
        border-top: 5px solid white;
        opacity: 100;
    }

    p {
        color: white;
    }

    .foto {
        height: 400px;
        width: 600px;
        margin: auto;

        .carousel-indicators button {
            background-color: red;
            border-color: 1px solid red;
        }

        .carousel-inner {
            .carousel-item {
                height: 400px;

                img {
                    height: 100%;
                    width: auto;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }

        .carousel-control-prev,
        .carousel-control-next {
            i {
                font-size: 25px;
                color: red;
            }
        }

    }

    .secondLine {
        border-top: 2px solid white;
    }

    .container {
        margin-top: 25px;

        .infoDettaglio {
            .dati {
                font-size: 25px;
                font-weight: bold;
                margin-bottom: 30px;
                text-align: center;
            }

            .dettagli {
                font-size: 20px;
                text-align: center;

                span {
                    margin-left: 20px;
                    font-weight: bold;
                }
            }

            .descrizione {

                p {
                    font-size: 20px;
                }
            }
        }
    }

    .bottoni {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;

        button {
            background-color: #0267C1;
            border: 3px solid white;
            color: white;
            padding: 7px 15px;
            font-size: 20px;
            border-radius: 10px;

            &:hover {
                background-color: white;
                color: #0267C1;
            }
        }

        .elimina {
            &:hover {
                border: 3px solid red;
                background-color: red;
                color: white;
            }
        }
    }
}

// ------------------------- RESPONSIVE -------------------------

@media screen and (max-width: 1400px) {

    .dettagliAnnuncio {
        width: 1200px;
    }

}

@media screen and (max-width: 1200px) {

    .dettagliAnnuncio {
        width: 1000px;
    }

}

@media screen and (max-width: 992px) {

    .dettagliAnnuncio {
        width: 800px;
    }

}

@media screen and (max-width: 768px) {

    .dettagliAnnuncio {
        width: 600px;

        hr {
            border-top: 3px solid white;
        }

        .foto {
            height: 300px;
            width: 500px;

            .carousel-inner {
                .carousel-item {
                    height: 300px;
                }
            }

            .carousel-control-prev,
            .carousel-control-next {
                i {
                    font-size: 20px;
                }
            }

        }

        .container {
            margin-top: 25px;

            .infoDettaglio {
                .dati {
                    font-size: 23px;
                }

                .dettagli {
                    font-size: 18px;
                }
            }
        }

        .bottoni {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 0;

            button {
                font-size: 18px;
                margin-bottom: 20px;
            }
        }
    }

}

@media screen and (max-width: 576px) {

    .dettagliAnnuncio {
        width: 500px;

        hr {
            border-top: 3px solid white;
        }

        .foto {
            height: 300px;
            width: 400px;

            .carousel-inner {
                .carousel-item {
                    height: 300px;
                }
            }

        }

        .container {
            margin-top: 25px;

            .infoDettaglio {
                .dati {
                    font-size: 20px;
                }

                .dettagli {
                    font-size: 16px;
                }
            }
        }
    }

}
