.preferiti {
    padding: 0;
    background-color: #0267C1;
    height: 825px;
    width: 1400px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px #363537;

    overflow-y: scroll;

    p {
        font-size: 25px;
        margin-top: 20px;
    }

    hr {
        margin: 0 20px;
        border-top: 5px solid white;
        opacity: 100;
    }

    button {
        background-color: #0267C1;
        border: 3px solid white;
        color: white;
        padding: 5px 15px;
        font-size: 20px;
        border-radius: 10px;

        &:hover {
            background-color: white;
            color: #0267C1;
        }
    }

    .card {

        width: 100%;

        .foto {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background-size: cover;
            background-position: center;
        }

        background-color: #0267C1;
        border: 3px solid white;
        color: white;
        border-radius: 10px;

        .card-title {
            cursor: pointer;
        }

        img {
            height: 100%;
        }

        .card-text {
            font-size: 20px;
        }

        .card-body-item {
            display: flex;
            flex-direction: row;
        }

        .miPiace,
        .dettagli-post {
            font-size: 25px;
        }

        .miPiace {
            color: red;
            cursor: pointer;
        }

    }
}

// ------------------------- RESPONSIVE -------------------------

@media screen and (max-width: 1400px) {

    .preferiti {
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 1200px) {

    .preferiti {
        width: 1100px;
    }

}

@media screen and (max-width: 992px) {

    .preferiti {
        width: 900px;

        hr {
            border-top: 3px solid white;
        }
    }

}

@media screen and (max-width: 768px) {

    .preferiti {
        width: 700px;

        .card {

            .row {
                display: flex;
                flex-direction: column;
            }

            .foto {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                height: 250px;
            }

            .card-text {
                font-size: 18px;
            }

        }
    }

}

@media screen and (max-width: 576px) {

    .preferiti {
        width: 500px;

        p {
            font-size: 20px;
        }

        button {
            font-size: 18px;
        }

        .card {

            .row {
                display: flex;
                flex-direction: column;
            }

            .foto {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                height: 250px;
            }

            .card-text {
                font-size: 18px;
            }

        }
    }

}
