<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <div class="preferiti ms-lg-0">
            <div class="d-flex justify-content-around align-items-center">
                <div>
                    <button type="button" class="back" [routerLink]="['/']"><i class="bi bi-arrow-left"></i> Indietro</button>
                </div>
                <p class="text-white text-center">Preferiti</p>
                <div>
                    <button type="button" class="add" [routerLink]="['/userDashboard']">Profilo <i class="bi bi-person-fill"></i></button>
                </div>
            </div>
            <hr>
            <div class="annunci-card mt-4 px-5">
                <div *ngIf="preferitiUtente && preferitiUtente.length > 0">
                    <div class="card mb-3" *ngFor="let preferito of preferitiUtente">
                        <div class="row g-0">
                            <div class="col-lg-4 foto" style="background-image: url('{{preferito.foto[0].url}}');" [routerLink]="['/dettagliPost', preferito.id]">

                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <h3 class="card-title" [routerLink]="['/dettagliPost', preferito.id]">{{ preferito.marca }} {{ preferito.modello }}</h3>
                                        <a class="dettagli-post me-3" [routerLink]="['/dettagliPost', preferito.id]"><i
                                                class="bi bi-arrow-right text-white"></i></a>
                                    </div>
                                    <h5 class="card-title">{{ preferito.prezzo }} &euro;</h5>
                                    <div class="card-body-item mt-3">
                                        <p class="card-text me-4"><i class="fa-solid fa-road"></i> {{ preferito.kilometri }}
                                            Kw</p>
                                        <p class="card-text me-4"><i class="fa-regular fa-calendar"></i> {{
                                            preferito.immatricolazione }}
                                        </p>
                                        <p class="card-text"><i class="fa-sharp fa-solid fa-gauge-simple-high"></i> {{
                                            preferito.cilindrata }} cc ({{
                                                preferito.cavalli }} CV)</p>
                                    </div>
                                    <div class="card-body-item">
                                        <p class="card-text me-4"><i class="fa-solid fa-location-dot"></i> {{
                                            preferito.localita }}</p>
                                        <p class="card-text"><i class="fa-solid fa-motorcycle"></i> {{
                                            preferito.tipoMoto.tipoMoto }}</p>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end me-4 mb-4">
                                    <a class="miPiace" (click)="aggiungiPreferiti(preferito)"><i class="fa-solid fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="preferitiUtente?.length === 0">
                    <p class="text-center text-white">0 annunci inseriti tra i preferiti...</p>
                </div>
            </div>
        </div>
    </div>
</div>
