.home {

    display: flex;
    flex-direction: row;

    .ricerca {
        padding: 0;
        background-color: #0267C1;
        height: 825px;
        width: 500px;
        border-radius: 10px;
        box-shadow: 10px 10px 30px #363537;

        p {
            font-size: 25px;
            margin-top: 20px;
        }

        hr {
            margin: 0 20px;
            border-top: 5px solid white;
            opacity: 100;
        }

        .ricercaItem {
            font-size: 22px;
            margin-bottom: 2px;
            margin-top: 35px;
        }

        input {
            padding: 10px;
            border-radius: 10px;
            border: none;
            color: red;
        }

        .ricercaItemFirst {
            font-size: 22px;
            margin-bottom: 2px;
        }


        button {
            border: 3px solid white;
            background-color: #0267C1;
            color: white;
            padding: 9px;
            border-radius: 10px;

            &:hover {
                background-color: white;
                color: #0267C1;
            }
        }
    }

    .annuncio {
        padding: 0;
        background-color: #0267C1;
        height: 825px;
        width: 1400px;
        border-radius: 10px;
        box-shadow: 10px 10px 30px #363537;

        overflow-y: scroll;

        p {
            font-size: 25px;
            margin-top: 20px;
        }

        hr {
            margin: 0 20px;
            border-top: 5px solid white;
            opacity: 100;
        }

        .card {

            width: 100%;

            .foto {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                background-size: cover;
                background-position: center;
            }

            background-color: #0267C1;
            border: 3px solid white;
            color: white;
            border-radius: 10px;

            .card-title {
                cursor: pointer;
            }

            .card-text {
                font-size: 21px;
            }

            .card-body-item {
                display: flex;
                flex-direction: row;
            }

            .miPiace,
            .dettagli-post {
                font-size: 25px;
            }

            .miPiace {
                color: white;
                cursor: pointer;
                &:hover {
                    transform: rotate(20deg);
                }
            }

            .preferito {
                color: red;
            }

        }
    }

}

// ------------------------- RESPONSIVE -------------------------

@media screen and (max-width: 1400px) {

    .home {
        margin-bottom: 20px;
        .ricerca {
            width: 800px;

            button {
                font-size: 18px;
            }
        }

        .annuncio {
            width: 1500px;
        }

    }

}

@media screen and (max-width: 1200px) {

    .home {
        margin-bottom: 20px;
        .ricerca {
            width: 700px;
        }

        .annuncio {
            width: 1300px;
        }

    }

}

@media screen and (max-width: 992px) {

    .home {
        .ricerca {
            width: 500px;
            height: 920px;

            p {
                font-size: 22px;
            }

            hr {
                border-top: 3px solid white;
            }

            .ricercaItem {
                font-size: 20px;
                margin-top: 20px;
            }

            input {
                padding: 7px 30px 7px 7px;
                margin-bottom: 10px;
            }

            .ricercaItemFirst {
                font-size: 20px;
            }


            button {
                padding: 7px;
                font-size: 15px;
            }
        }

        .annuncio {
            width: 1000px;
            height: 920px;

            p {
                font-size: 22px;
            }

            hr {
                border-top: 3px solid white;
            }

            .card {

                .foto {
                    height: 300px;
                }

                .card-text {
                    font-size: 15px;
                }

            }
        }

    }

}

@media screen and (max-width: 768px) {

    .home {
        .ricerca {
            width: 300px;
            height: 920px;

            p {
                font-size: 20px;
            }

            input {
                margin-right: 20px;
            }
        }

        .annuncio {
            width: 800px;
            height: 920px;

            p {
                font-size: 20px;
            }

            .card {

                .row {
                    display: flex;
                    flex-direction: column;
                }

                .foto {
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 0;
                    border-top-right-radius: 10px;
                    height: 250px;
                }

                .card-text {
                    font-size: 15px;
                }

            }
        }

    }

}

@media screen and (max-width: 576px) {

    .home {

        display: flex;
        flex-direction: column;
        margin: auto;

        .ricerca {

            width: 500px;
            height: 700px;

            p {
                font-size: 20px;
            }
        }

        .annuncio {

            width: 500px;
            margin-bottom: 20px;

            p {
                font-size: 20px;
            }

            .card {

                .row {
                    display: flex;
                    flex-direction: column;
                }

                .foto {
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 0;
                    border-top-right-radius: 10px;
                    height: 250px;
                }

                .card-text {
                    font-size: 15px;
                }

            }
        }

    }

}
