<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="d-flex flex-row">
        <div class="ricerca">
            <p class="text-white text-center"><i class="bi bi-search"></i> Ricerca per</p>
            <hr>
            <p class="text-white ms-3 ricercaItemFirst">Marca:</p>
            <input name="marca" type="text" id="marca" placeholder="es. Yamaha" class="ms-3">
            <button type="button" class="ms-3">Cerca</button>

            <p class="text-white ms-3 ricercaItem">Modello:</p>
            <input name="modello" type="text" id="modello" placeholder="es. yxf-r1" class="ms-3">
            <button type="button" class="ms-3">Cerca</button>

            <p class="text-white ms-3 ricercaItem">Anno:</p>
            <input name="anno" type="text" id="aPartireAnno" placeholder="es. 2015" class="ms-3">
            <input name="anno" type="text" id="perArrivareAnno" placeholder="es. 2020" class="ms-3">
            <button type="button" class="ms-3 mt-3">Cerca</button>

            <p class="text-white ms-3 ricercaItem">Kilometri:</p>
            <input name="kilomet" type="text" id="aPartireKilometri" placeholder="es. 5000" class="ms-3">
            <input name="kilometri" type="text" id="perArrivareKilometri" placeholder="es. 10000" class="ms-3">
            <button type="button" class="ms-3 mt-3">Cerca</button>

            <p class="text-white ms-3 ricercaItem">Prezzo:</p>
            <input name="prezzo" type="text" id="prezzo" placeholder="es. 12.000€" class="ms-3">
            <button type="button" class="ms-3">Cerca</button>
        </div>
        <div class="annuncio ms-4">
            <p class="text-white text-center">Annunci</p>
            <hr>
        </div>
    </div>
</div>
