<hr>
<div class="container-fluid mb-4">
    <div class="risposta">
        <p class="dati"><i
            class="fa-regular fa-pen-to-square me-2"></i> Rispondi al cliente</p>
        <div class="d-flex justify-content-center">
            <textarea name="messaggio" type="text" id="messaggio" placeholder="Scrivi un messaggio qui..."></textarea>
        </div>
        <div class="d-flex justify-content-evenly" *ngIf="isAdmin()">
            <button type="button" class="buttonMessaggio" (click)="rispondiAdmin()">Rispondi</button>
        </div>
        <div class="d-flex justify-content-evenly" *ngIf="!isAdmin()">
            <button type="button" class="buttonMessaggio" (click)="rispondiUtente()">Rispondi</button>
        </div>
    </div>
</div>
