<div class="container-fluid navbar d-flex justify-content-around">
    <a class="fw-bold">RideResale <img src="../../../assets/logo_app.png" alt="" style="width: 60px;"></a>
    <h1 class="text-white">Privacy & Cookie</h1>
</div>
<div class="container-fluid body d-flex justify-content-center">
    <div class="px-5">

        <!---------------------- PRIVACY  ---------------------->

        <h2 class="mt-4">Privacy</h2>
        <p>Informazitva ai sensi del Regolamento UE 2016/679 ("GDPR")</p>
        <hr>
        <h5>1. Quali tipi di tati raccogliamo?</h5>
        <p>Quando usi i nostri servizi, accetti che la nostra aziensa raccolga alcuni tuoi dati personali. Questa pagina
            ha lo scopo di dirti quali dei dati raccogliamo, perchè e come li usiamo.</p>
        <p>Trattiamo due tipi di dati:</p>
        <ul>
            <li>dati forniti dall'utente</li>
            <li>dati che raccogliamo automaticamente</li>
        </ul>
        <hr>


        <h5>2. Come utilizziamo i dati raccolti?</h5>
        <p>Utilizzaimo i dati raccolti per offrirti ogni girono il nostro servizio, per informarti sulle nostre attività
            commerciali o per proporti un servizio più personalizzato ed in linea con i tuoi interessi.</p>
        <h6>2.1. Per garantirti l'accesso ai nostri servizi e migliorarne l'erogazione</h6>
        <p>Utilizziamo i tuoi dati per garantire l'accesso ai nostri servizi e alle loro erogazioni, tra cui:</p>
        <ul>
            <li>registrazione e creazione dell'area riservata</li>
            <li>pubblicazione degli annunci</li>
            <li>utilizzo della funzionalità "preferiti"</li>
            <li>comunicazioni connesse all'erogazione del servizio</li>
            <li>messaggistica tra utenti e concessionari</li>
        </ul>
        <p>Tali trattamenti sono necessari per erogare correttamente i servizi di RideResale nei confronti degli utenti
            che vi aderiscono</p>
        <p>Utilizziamo i tuoi dati anche per assicurare un servizio migliore ed implementarlo, attraverso i seguenti
            trattamenti:</p>
        <ul>
            <li>assistenza tramite il Customer Happiness Center, anche tramite la funzionalità Chat</li>
            <li>analisi dei dati in forma aggregata</li>
            <li>revisione degli annunci, moderazione o rimozione dei contenuti, prevenzione delle frodi</li>
            <li>attività di natura amministrativa, finaziaria o contabile, come ad esempio quelle relative agli acquisti
                dei servizi opzionali a pagamenti ed eventuale recupero del credito</li>
            <li>rilevamento della tua Posizione attuale (approssimativa) per facilitare la fruizione di alcune funzioni
                del servizio, come ad esempio al visualizzazione degli annunci di utenti a te vicini</li>
            <li>comunicazioni inerenti a servizi analoghi a quelli da te utilizzati</li>
            <li>ricerche di mercato, Sondaggi facoltativi e attività di rilevazione del grado di soddisfazione
                dell'utenza</li>
        </ul>
        <p>Tali trattamenti si basano sul legittimo interesse del Titolare al miglioramento del servizio ed alla sua
            implementazione e puoi opporti, nei casi previsti dalla legge, in ogni momento</p>
        <h6>2.2. Per informarti riguardo alle nostre attività commerciali</h6>
        <p>Utilizzaimo i dati raccolti, qualora tu ci abbia fornito espressivamente il consenso, per informzrti riguardo
            ad attività promozionali che potrebbero interessarti</p>
        <p>In particolare li utilizzaimo per:</p>
        <ul>
            <li>comunicarti attività peromozionali, commerciali e pubblicitarie su eventi, iniziative o partnership di
                RideResale, tramite posta elettronica, invio SMS o notifiche push; solo se sei un progessionista, per
                telefonate tramite operatore, servizio di customer care consistente dell'offerta di servizi dedicati in
                sede di vendita e post-vendita</li>
            <li>fare attività di analisi e di reportistica connessa ai sistemi di comunicazione promozionale, come ad
                esempio il rilevamento del numero delle e-mail aperte, dei click effettuati sui link presenti
                all’interno della comunicazione, la tipologia del dispositivo utilizzato per leggere la comunicazione ed
                il relativo sistema operativo o l’elenco dei disiscritti alla newsletter.</li>
        </ul>
        <h6>2.3. Per offrirti un servizio personalizzato</h6>
        <p>Elaboriamo i dati raccolti, qualora tu ci abbiamo fornito espressivamente il consenso, per analizzare le tue
            abitudini o scelte di consumo al fine di proporti un servizio sempre più personalizzato ed in linea con i
            tuoi interessi e di migliorare la nostra offerta commerciale. Tali analisi non sono in ogni caso correlate
            ad un processo decisionale automatizzato.</p>
        <hr>

        <h5>3. Il conferimento dei dati è obbligatorio?</h5>
        <p>Il confermato dei dati personali è obbligatorio esclusivamente per i trattamenti necessari all'erogazione dei servizi offerti da RideResale (l'eventuale rifiuto per dinalità di erogazione del servizio rende impossibile l'utilizzo del servizio stesso); è invece facoltativo per le finalità promozionali e di profilazione e l'eventuale rifiuto di prestare il consenso non ha conseguenze negative sull'erogazione del servizio offerto nell'ambito del sito web www.RideResale.it e relative applicazioni</p>
        <hr>

        <h5>4. Chi sono i soggetti del trattamento</h5>
        <h6>4.1. Titolare del trattamento</h6>
        <p>Titolare del trattamento è RideResale.it S.r.l. in persona del suo legare rappresentate pro-temore, con sede legare sita a Roma (IT), Via Roma 1000</p>
        <p>Il titolare del trattamento si avvale di responsabili del trattamento per il raggiuingimento delle finalità specificate al punto 1 e di una Data Protection Officer (DPO) per vigilare sulla tutela relativa ai dati personali.</p>
        <p>PEr ogni richiesta relativa ai tuoi dati personali confronta il successivo punto 4.2.</p>
        <h6>4.2. Data Protection Officer (DPO) e informazioni di contatto</h6>
        <p>Il responsabile designato per la protezione dei dati personali (Data Protection Officer) ai sensi dell’art. 37 del GDPR  è l’Avv. Massimiliano Nicotra.</p>
        <p>Ti ricordiamo che puoi in qualsiasi momento contattare il DPO ed inviare qualsiasi domanda o richiesta relativa ai tuoi dati personali e al rispetto della tua privacy scrivendo all’indirizzo <a href="mailto: privacy@aiuto.rideresale.it">privacy@aiuto.rideresale.it</a></p>
        <h6>4.3. Soggetti a cui possono essere comunicati dati personali</h6>
        <p>I dati raccolti nell'ambiete dell'erogazione del servizio potranno essere comunicati a:</p>
        <ul>
            <li>società che svolgono funzioni strettamente connesse e strumentali all’operatività – anche tecnica – dei servizi di RideResale, quali ad esempio fornitori che erogano servizi finalizzati alla revisione e alla verifica degli annunci, fornitori di servizi di direct marketing e di customer care, società che erogano servizi di archiviazione, amministrativi, di pagamento e fatturazione, società collegate e/o facenti parte di Adevinta Group (gruppo di appartenenza di RideResale.it S.r.l.) che forniscono componenti tecniche per l’erogazione di alcune funzionalità del servizio</li>
            <li>enti ed autorità amministrative e giudiziarie in virtù degli obblighi di legge</li>
        </ul>
        <p>I tuoi dati personali potrebbero essere trasferiti al di fuori dell’Unione Europea per essere trattati da alcuni dei nostri fornitori di servizi. In questo caso, ci assicuriamo che questo trasferimento avvenga nel rispetto della legislazione vigente e che sia garantito un livello adeguato di protezione dei dati personali basandoci su una decisione di adeguatezza, su clausole standard definite dalla Commissione Europea o su Binding Corporate Rules.</p>
        <hr>

        <h5>5. Come assicuriamo la protezione dei tui dati?</h5>
        <p>I dati sono raccolti dai soggetti indicati nel punto 4, secondo le indicazioni della normativa di riferimento, con particolare
            riguardo alle misure di sicurezza previste dal GDPR (art. 32) per il loro tratamento mediante strumenti
            informatici, manuali ed automatizzati e con logiche strettamente correlate alle finalità indicate nel punto
            1 e comunque in modo da garantire la sicurezza e la riservatezza dei dati stessi</p>
        <p>Nel rispetto della normativa applicabile, è attivo un sistema di verifica antispam sulle comunicazioni tra
            utenti. I dati ivi inseriti potranno essere verificati al solo scopo di individuare attività illecite o
            contenuti non conformi alle Condizioni generali del Servizio, ma non saranno trattati o comunicati per
            finalità commerciali o promozionali.</p>
        <hr>


        <h5>6. L'informativa sulla privacy può subire modifiche nel tempo?</h5>
        <p>La presente informativa potrebbe essere soggetta a modifiche. Qualora vengano apportate sostanziali modifiche
            all’utilizzo dei dati relativi all’utente da parte del Titolare, quest’ultimo avviserà l’utente
            pubblicandole con la massima evidenza sulle proprie pagine o tramite mezzi alternativi o similari.</p>
        <hr>

        <!---------------------- COOKIE  ---------------------->

        <h2 class="mt-5">Cookie</h2>
        <p>Cookie e tecnologie similari</p>
        <hr>
        <h5>1. Cosa sono i cookie?</h5>
        <p>I cookie sono file di testo di dimensioni ridotte che i siti visitati dagli utenti inviano ai loro terminali
            o dispositivi, in cui vengono memorizzati per essere trasmessi nuovamente agli stessi siti in occasione di
            visite successive. I cookie (e/o tecnologie similari come ad esempio le tecnologie SDK per il mondo mobile)
            possono essere memorizzati in modo permanente (cookie persistenti) sul tuo dispositivo o avere un durata
            variabile; possono infatti cancellarsi con la chiusura del browser o avere una durata limitata alla singola
            sessione (cookie di sessione). I cookie possono essere installati da Subito (cookie di prima parte) o da
            altri siti web (cookie di terze parti).</p>
        <p>I cookie sono utilizzati per diverse finalità come meglio specificato al successivo punto 2 della presente pagina.</p>
        <hr>


        <h5>2. Destinatari dei dati</h5>
        <p>I Dati potranno essere conosciuti e trattati dai dipendenti delle funzioni aziendali di RideResale deputate al perseguimento delle finalità sopra indicate, espressamente autorizzati al trattamento e che hanno ricevuto adeguate istruzioni operative.</p>
        <p>Inoltre, i Dati potranno essere comunicati a terzi destinatari – titolari autonomi del trattamento o debitamente designati quali responsabili del trattamento – che appartengono alle seguenti categorie:</p>
        <p>soggetti esterni operanti in qualità di titolari autonomi quali, a titolo esemplificativo, Autorità ed organi di vigilanza e controllo ed in generale a soggetti, anche privati, legittimati a richiedere i dati (come ad esempio consulenti contabili, consulenti legali), Pubbliche Autorità che ne facciano espressa richiesta per finalità amministrative o istituzionali, soggetti che gestiscono i cookie di Terza parte, secondo quanto disposto dalla normativa vigente nazionale ed europea;
            soggetti estranei al Titolare che forniscono servizi allo stesso e che sono utili per le sue attività (ad esempio: fornitori di servizi informatici e consulenti che rendono assistenza tecnica al Titolare, società che offrono supporto nella realizzazione di studi di mercato); questi soggetti ricevono uno specifico incarico come responsabili del trattamento dei dati e i loro nominativi sono disponibili su richiesta, utilizzando i recapiti indicati nella presente policy.
            I Dati raccolti utilizzando i cookie presenti sul Sito non saranno oggetto di trasferimento al di fuori dell’Unione Europea.</p>
        <p>Ove ciò avvenga, in riferimento ai Dati raccolti utilizzando i cookie presenti sul Sito, il Titolare, per quanto di propria competenza, adotterà delle garanzie appropriate, tra cui le decisioni di adeguatezza in vigore e le clausole contrattuali standard (Standard Contractual Clauses) adottate dalla Commissione Europea.</p>
        <hr>


        <h5>3. Come viene prestato il consenso (opt-in) all'utilizzo dei cookie</h5>
        <p>Il consenso all’utilizzo dei cookie di profilazione viene prestato in modalità espressa e libera dall’utente selezionando l’apposito tasto dal banner contenente l’informativa breve o mediante l’apposita sezione di gestione delle preferenze.</p>
        <p>Il consenso può essere revocato in ogni momento tramite le apposite funzionalita indicate al successivo paragrafo</p>
        <p>Tutti i cookie tecnici e quelli analitici/statistici anonimi non richiedono consenso, pertanto vengono installati automaticamente a seguito della chiusura del banner contenente l’informativa breve o della navigazione nella sezione delle preferenze.</p>
        <hr>


        <h5>4. Come revocare (opt-out) il consenso all'utilizzo dei cookie?</h5>
        <p>I cookie possono essere completamente disattivati dal browser utilizzando l'appostita funzione prevista nella maggior parte dei programmi di navigazione</p>
        <p>È bene sapere però che disattivando i cookie alcune delle funzionalità di RideResale potrebbero non essere utilizzate</p>
        <p>Riportiamo di seguito il link alle informative dei principali browser per ulteriori informazioni sulla disattivazione dei cookie: <a href="https://support.google.com/chrome/answer/95647?hl=it" target="_blank">Chrom</a>, <a href="https://support.mozilla.org/it/kb/Gestione%20dei%20cookie" target="_blank">Firefox</a>, <a href="https://support.microsoft.com/it-it/windows/eliminare-e-gestire-i-cookie-168dab11-0753-043d-7c16-ede5947fc64d#ie=ie-11" target="_blank
            ">Internet Explorer</a>, <a href="https://support.apple.com/it-it/HT201265" target="_blank">Safari</a>, <a href="https://support.microsoft.com/it-it/windows/microsoft-edge-dati-delle-esplorazioni-e-privacy-bb8174ba-9d73-dcf2-9b4a-c582b4e640dd" target="_blank">Edge</a>.</p>
        <p>Come riferimento ai cookie di profilazione finalizzati ad offrirti pubblicità personalizzate, ti informiamo che, qualora esercitassi l'opt-out, continuerai in ogni caso a ricevere pubblicità di tipo generico</p>
        <hr>


        <h5>5. Ulteriori informazioni sui cookie e su come esercitare l'opt-out</h5>
        <p>Le piataforme <a href="https://www.youronlinechoices.com/it/help" target="_blank">Youonlinechoice</a> e <a href="https://optout.networkadvertising.org/?c=1#!%2F" target="_blank">Networkadvertising.org</a> offrono la possibilità di rifiutare o accettare i cookie di molti professionisti della pubblicità difitale.</p>
        <p>Ti consigliamo di utilizzare queste piattaforme per gestire la revoca del consenso all'utilizzo dei cookie.</p>
        <p>Per saperne di più sulla pubblicità mirata puoi consultare le seguenti pagine:</p>
        <ul>
            <li><a href="https://youronlinechoices.eu/" target="_blank">European Interactive Digital Advertising Alliance</a> (EIDAA)</li>
            <li><a href="https://thenai.org/" target="_blank">Network Advertising Initiative</a> (NAI)</li>
            <li><a href="https://www.iab.com/">Interactive Advertising Bureau</a> (IAB)</li>
        </ul>
        <hr>


        <h5>6. Esercizio dei tuoi diritti</h5>
        <p>Qualsiasi persona fisica che utilizzi il nostro servizio può:</p>
        <ul>
            <li>ottenere dal titolare, in ogni momento, informazioni circa l’esistenza dei propri dati personali, l’origine degli stessi, le finalità e le modalità di trattamento e, qualora presenti, di ottenere l’accesso ai dati personali ed alle informazioni di cui all’articolo 15 del GDPR</li>
            <li>richiedere l’aggiornamento, la rettifica, l’integrazione, la cancellazione, la limitazione del trattamento dei dati nel caso ricorra una delle condizioni previste all’articolo 18 del GDPR, la trasformazione in forma anonima o il blocco dei dati personali, trattati in violazione di legge, compresi quelli di cui non è necessaria la conservazione in relazione agli scopi per i quali i dati sono stati raccolti e/o successivamente trattati</li>
            <li>opporsi, in tutto o in parte, per motivi legittimi e secondo quanto previsto dalla legge, al trattamento dei dati, ancorché pertinenti allo scopo della raccolta ed al trattamento dei dati personali previsti ai fini di informazione commerciale o di invio di materiale pubblicitario o di vendita diretta ovvero per il compimento di ricerche di mercato o di comunicazione commerciale. Ogni utente ha altresì il diritto di revocare il consenso in qualsiasi momento senza pregiudicare le liceità del trattamento basata sul consenso prestato prima della revoca</li>
            <li>ricevere i propri dati personali, trattati sulla base di un contratto o sul consenso dell’interessato, forniti consapevolmente ed attivamente o attraverso la fruizione del servizio, in un formato strutturato, di uso comune e leggibile da dispositivo automatico, e di trasmetterli ad un altro titolare del trattamento senza impedimenti
                proporre reclamo presso l’Autorità Garante per la protezione dei dati personali in Italia</li>
        </ul>
        <p>Ti ricordiamo che per qualsiasi domanda o richiesta relativa ai tui dati personali e al rispetto della tua privacy puoi scrivere all'indirizzo <a href="mailto: privacy@aiuto.rideresale.it">privacy@aiuto.rideresale.it</a></p>
        <hr>
        <p class="my-5">Ultimo aggiornamento al 22/10/2022</p>
        <hr>
    </div>
</div>
