.concessionario-dashboard {

    display: flex;
    flex-direction: row;

    .utente {
        padding: 0;
        background-color: #0267C1;
        height: 825px;
        width: 500px;
        border-radius: 10px;
        box-shadow: 10px 10px 30px #363537;

        p {
            font-size: 25px;
            margin-top: 20px;
            color: white;
        }

        .utenteItem {
            font-size: 22px;
        }

        hr {
            margin: 0 20px;
            border-top: 5px solid white;
            opacity: 100;
        }

        .imgProfile {
            margin-top: 40px;

            img {
                width: 120px;
                height: 120px;
            }
        }

        a {
            background-color: #0267C1;
            border: 3px solid white;
            color: white;
            padding: 5px 15px;
            font-size: 20px;
            border-radius: 10px;

            &:hover {
                background-color: white;
                color: #0267C1;
            }
        }

        .impostazioni {
            cursor: pointer;
        }

    }

    .annunci {
        padding: 0;
        background-color: #0267C1;
        height: 825px;
        width: 1400px;
        border-radius: 10px;
        box-shadow: 10px 10px 30px #363537;

        overflow-y: scroll;

        p {
            font-size: 25px;
            margin-top: 20px;
        }

        hr {
            margin: 0 20px;
            border-top: 5px solid white;
            opacity: 100;
        }

        button {
            background-color: #0267C1;
            border: 3px solid white;
            color: white;
            padding: 5px 15px;
            font-size: 20px;
            border-radius: 10px;

            &:hover {
                background-color: white;
                color: #0267C1;
            }
        }

        .card {

            width: 100%;

            .foto {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                background-size: cover;
                background-position: center;
            }

            background-color: #0267C1;
            border: 3px solid white;
            color: white;
            border-radius: 10px;

            img {
                height: 100%;
            }

            .card-title {
                cursor: pointer;
            }

            .card-text {
                font-size: 20px;
            }

            .card-body-item {
                display: flex;
                flex-direction: row;
            }

            .elimina,
            .dettagli-post {
                font-size: 25px;
                cursor: pointer;
            }

            .elimina {
                color: red;
            }
        }
    }

}

// ------------------------- RESPONSIVE -------------------------

@media screen and (max-width: 1400px) {

    .concessionario-dashboard {

        .utente {
            width: 600px;
        }

        .annunci {
            width: 1400px;
        }

    }

}

@media screen and (max-width: 1200px) {

    .concessionario-dashboard {

        margin-bottom: 20px;

    }

}

@media screen and (max-width: 992px) {

    .concessionario-dashboard {

        .utente {
            width: 600px;
            p {
                font-size: 20px;
            }

            .utenteItem {
                font-size: 20px;
            }

            hr {
                margin: 0 18px;
                border-top: 3px solid white;
            }

            .imgProfile {
                margin-top: 30px;

                img {
                    width: 110px;
                    height: 110px;
                }
            }

        }

        .annunci {
            width: 1100px;

            p {
                font-size: 20px;
            }

            hr {
                margin: 0 18px;
                border-top: 3px solid white;
            }

            button {
                font-size: 18px;
            }

            .card {

                .foto {
                    height: 300px;
                }

                .card-text {
                    font-size: 15px;
                }

                .elimina,
                .dettagli-post {
                    font-size: 20px;
                }
            }
        }

    }

}

@media screen and (max-width: 768px) {

    .concessionario-dashboard {

        .utente {
            .utenteItem {
                font-size: 18px;
                margin: 20px 10px 0 10px;
            }

            .imgProfile {
                margin-top: 30px;

                img {
                    width: 100px;
                    height: 100px;
                }
            }

            a {
                font-size: 18px;
            }

        }

        .annunci {
            width: 1100px;

            p {
                font-size: 20px;
            }

            hr {
                margin: 0 18px;
                border-top: 3px solid white;
            }

            button {
                font-size: 15px;
            }

            .card {

                .foto {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    height: 250px;
                }

                .card-text {
                    font-size: 15px;
                }
            }
        }

    }

}

@media screen and (max-width: 576px) {

    .concessionario-dashboard {

        display: flex;
        flex-direction: column;
        margin: auto;

        .utente {

            width: 500px;

            p {
                font-size: 22px;
            }

            .utenteItem {
                font-size: 20px;
            }

            .imgProfile {
                img {
                    width: 110px;
                    height: 110px;
                }
            }

            a {
                font-size: 20px;
            }

        }

        .annunci {
            width: 500px;

            p {
                font-size: 20px;
            }

            button {
                font-size: 15px;
            }

            .card {

                .foto {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    height: 250px;
                }

                .card-text {
                    font-size: 15px;
                }
            }
        }

    }

}
