<nav class="navbar fixed-top">
    <a class="fw-bold" [routerLink]="['/']">RideResale</a>
    <div *ngIf="!isLoggedIn">
        <button type="button" [routerLink]="['/login']" class="login">Login<i class="bi bi-arrow-bar-left ms-3"></i></button>
    </div>
    <div class="d-flex flex-row" *ngIf="isLoggedIn">
        <div class="utente" *ngIf="!isAdmin()">
            <i class="bi bi-person-circle fs-2 text-white"></i>
            <a class="ms-2 me-2" [routerLink]="['/userDashboard']">{{nome}} {{cognome}}</a>
        </div>
        <div class="utente" *ngIf="isAdmin()">
            <i class="bi bi-person-circle fs-2 text-white"></i>
            <a class="ms-2 me-4" [routerLink]="['/userDashboard']">{{ragioneSociale}}</a>
        </div>
        <div *ngIf="isAdmin()">
            <button type="button" class="add" [routerLink]="['/addAnnuncio']">Crea annuncio <i
                    class="bi bi-plus-lg"></i></button>
        </div>
        <div>
            <button type="button" (click)="logout()" class="logout ms-3">Logout<i class="bi bi-arrow-bar-right ms-3"></i></button>
        </div>
    </div>
</nav>

<!-- <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="fw-bold" [routerLink]="['/']">RideResale</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div *ngIf="!isLoggedIn">
                <button type="button" [routerLink]="['/login']" class="login">Login<i class="bi bi-box-arrow-in-right ms-3"></i></button>
            </div>
            <div class="d-flex flex-row" *ngIf="isLoggedIn">
                <div class="utente" *ngIf="!isAdmin()">
                    <i class="bi bi-person-circle fs-2 text-white"></i>
                    <a class="ms-2 me-2" [routerLink]="['/userDashboard']">{{nome}} {{cognome}}</a>
                </div>
                <div class="utente" *ngIf="isAdmin()">
                    <i class="bi bi-person-circle fs-2 text-white"></i>
                    <a class="ms-2 me-4" [routerLink]="['/userDashboard']">{{ragioneSociale}}</a>
                </div>
                <div *ngIf="isAdmin()">
                    <button type="button" class="add" [routerLink]="['/addAnnuncio']">Crea annuncio <i class="bi bi-plus-lg"></i></button>
                </div>
                <div>
                    <button type="button" (click)="logout()" class="logout ms-3">Logout<i class="bi bi-box-arrow-right ms-3"></i></button>
                </div>
            </div>
        </div>
    </div>
</nav> -->
