.navbar {
    background-color: red;
    height: fit-content;
    padding: 20px 20px;
    margin-bottom: 20px;

    a {
        text-decoration: none;
        color: white;
        font-size: 40px;
    }

    button {
        background-color: red;
        border: 3px solid white;
        color: white;
        padding: 7px 15px;
        font-size: 20px;
        border-radius: 10px;

        &:hover {
            background-color: white;
            color: red;
        }
    }

    .navbar-toggler {
        i {
            font-size: 25px;
        }

        &:focus {
            box-shadow: none;
            border: 3px solid white;
        }
    }

    .navbar-nav {
        padding: 0;
        margin: 0;
        .nav-item {

            display: flex;
            align-items: center;

            .preferiti {
                cursor: pointer;
                font-size: 30px;
            }

            .imgProfile{
                cursor: pointer;
                width: 30px;
                height: 30px;
            }

            a {
                text-decoration: none;
                color: white;
                font-size: 25px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

}
