.navbar {
    background-color: red;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;

    a {
        text-decoration: none;
        color: white;
        font-size: 40px;
    }

    button {
        background-color: red;
        border: 3px solid white;
        color: white;
        padding: 7px 15px;
        font-size: 20px;
        border-radius: 10px;

        &:hover {
            background-color: white;
            color: red;
        }
    }

    .utente {
        a {
            text-decoration: none;
            color: white;
            font-size: 25px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
