.notifiche {
    padding: 0;
    background-color: #0267C1;
    width: 700px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px #363537;

    p {
        font-size: 25px;
        margin-top: 20px;
        color: white;
    }

    hr {
        margin: 0 20px;
        border-top: 5px solid white;
        opacity: 100;
    }

    #notifiche-item {

        .card {
            background-color: #0267C1;
            border: 3px solid white;
            color: white;
            border-radius: 10px;
            margin-bottom: 20px;

            .card-header, .card-footer {
                background-color: #014e92;

                p {
                    font-size: 22px;
                    font-weight: bolder;
                    margin: 5px 0 5px 0;
                }

                button {
                    background-color: #0267C1;
                    border: 3px solid white;
                    color: white;
                    padding: 5px 15px;
                    font-size: 18px;
                    border-radius: 10px;
                    margin: 5px 0 5px 0;

                    &:hover {
                        background-color: white;
                        color: #0267C1;
                    }
                }
            }

            .card-text {
                font-size: 20px;
                margin: 0;
                span {
                    text-decoration: underline;
                }
            }
        }
    }

}
